@tailwind base;
@tailwind components;

* {
  @apply text-white;
}

a {
  @apply no-underline;
}

a:hover {
  @apply text-green-500 transition duration-150;
}

.button {
  @apply cursor-pointer px-6 py-4 rounded font-medium whitespace-no-wrap transition duration-150;
}

.button-primary {
  @apply bg-green-500;
}

.button-primary:hover {
  @apply bg-green-600;
}

.button-secondary {
  @apply bg-white text-green-500;
}

.button-secondary:hover {
  @apply bg-green-200;
}

.button:focus {
  @apply outline-none;
}

/**
 * Animations
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@tailwind utilities;
